fastapi
uvicorn
sqlalchemy
alembic
pydantic
python-jose
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart
email-validator
python-dotenv
celery
redis
pydantic_settings
flower
psycopg2-binary
sendgrid
stripe
